 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #3780A8;
active-foreground: #EAEDE6;
normal-background: #191B20;
normal-foreground: #EAEDE6;
urgent-background: #9CAA31;
urgent-foreground: #EAEDE6;

alternate-active-background: #2989BA;
alternate-active-foreground: #EAEDE6;
alternate-normal-background: #191B20;
alternate-normal-foreground: #EAEDE6;
alternate-urgent-background: #191B20;
alternate-urgent-foreground: #EAEDE6;

selected-active-background: #9CAA31;
selected-active-foreground: #EAEDE6;
selected-normal-background: #9CAA31;
selected-normal-foreground: #EAEDE6;
selected-urgent-background: #3780A8;
selected-urgent-foreground: #EAEDE6;

background-color: #191B20;
background: rgba(0,0,0,0.7);
foreground: #EAEDE6;
border-color: #3780A8;

color0: #43474C;
color1: #207496;
color2: #306B96;
color3: #2E7AA1;
color4: #346F90;
color5: #7A8629;
color6: #6C9A3E;
color7: #D8DDD3;
color8: #979B93;
color9: #1E87B0;
color10: #2E75A8;
color11: #2989BA;
color12: #3780A8;
color13: #9CAA31;
color14: #95CD52;
color15: #D8DDD3;


}

