 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #6B8FB8;
active-foreground: #C4C5D0;
normal-background: #1A1B24;
normal-foreground: #C4C5D0;
urgent-background: #8BB2CE;
urgent-foreground: #C4C5D0;

alternate-active-background: #9B7B7C;
alternate-active-foreground: #C4C5D0;
alternate-normal-background: #1A1B24;
alternate-normal-foreground: #C4C5D0;
alternate-urgent-background: #1A1B24;
alternate-urgent-foreground: #C4C5D0;

selected-active-background: #8BB2CE;
selected-active-foreground: #C4C5D0;
selected-normal-background: #8BB2CE;
selected-normal-foreground: #C4C5D0;
selected-urgent-background: #6B8FB8;
selected-urgent-foreground: #C4C5D0;

background-color: #1A1B24;
background: rgba(0,0,0,0.7);
foreground: #C4C5D0;
border-color: #6B8FB8;

color0: #54524F;
color1: #6B6E7F;
color2: #7F7C6B;
color3: #917D7D;
color4: #7086A0;
color5: #708B9F;
color6: #9F8470;
color7: #A2A4B3;
color8: #71737D;
color9: #7C7F97;
color10: #8B876E;
color11: #9B7B7C;
color12: #6B8FB8;
color13: #8BB2CE;
color14: #CEA78B;
color15: #A2A4B3;


}

