 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #393F85;
active-foreground: #B7B8C8;
normal-background: #0E0F1D;
normal-foreground: #B7B8C8;
urgent-background: #8F3574;
urgent-foreground: #B7B8C8;

alternate-active-background: #393F85;
alternate-active-foreground: #B7B8C8;
alternate-normal-background: #0E0F1D;
alternate-normal-foreground: #B7B8C8;
alternate-urgent-background: #0E0F1D;
alternate-urgent-foreground: #B7B8C8;

selected-active-background: #8F3574;
selected-active-foreground: #B7B8C8;
selected-normal-background: #8F3574;
selected-normal-foreground: #B7B8C8;
selected-urgent-background: #393F85;
selected-urgent-foreground: #B7B8C8;

background-color: #0E0F1D;
background: rgba(0,0,0,0.7);
foreground: #B7B8C8;
border-color: #393F85;

color0: #40242B;
color1: #333872;
color2: #333872;
color3: #333872;
color4: #333872;
color5: #7A3064;
color6: #963363;
color7: #8F91A7;
color8: #646575;
color9: #393F84;
color10: #393F85;
color11: #393F85;
color12: #393F85;
color13: #8F3574;
color14: #B53874;
color15: #8F91A7;


}

